# -----------------------------------------------------------------------------
# .htaccess
# -----------------------------------------------------------------------------
# Esta directiva evita que se muestren listados de directorios si no hay un 
# archivo index.html o index.php presente en un directorio específico
Options -Indexes

# Habilita el motor de reescritura de URL de Apache. Esto permite modificar
# dinámicamente la URL solicitada por el cliente antes de enviarla al servidor
# web para procesamiento.
RewriteEngine On

# Esta regla redirige todas las solicitudes que llegan al servidor al directorio
# public/ . La parte ^(.*)$ captura toda la URL solicitada.
RewriteRule ^(.*)$ public/$1 [L]

# -----------------------------------------------------------------------------
# XAMPP CASA
# -----------------------------------------------------------------------------
# Redirigir http://localhost a http://localhost/mvc_app_raiola/
# RewriteCond %{HTTP_HOST} ^localhost$ [NC]
# RewriteCond %{REQUEST_URI} ^/$
# RewriteRule ^(.*)$ /mvc_app_raiola/$1 [L,R=301]

# Redirigir http://192.168.1.130 a http://192.168.1.130/mvc_app_raiola/
# RewriteCond %{HTTP_HOST} ^192\.168\.1\.130$
# RewriteCond %{REQUEST_URI} ^/$
# RewriteRule ^(.*)$ /mvc_app_raiola/$1 [L,R=301]